// Footer
// *******************************************************************************

.footer-link {
<<<<<<< HEAD
  display: inline-block;
=======
	display: inline-block;
>>>>>>> fa43ef13419b93326e052a68ad170428e6c19f7b
}

// Light footer
.footer-light {
<<<<<<< HEAD
  color: $navbar-light-color;

  .footer-text {
    color: $navbar-light-active-color;
  }

  .footer-link {
    color: $navbar-light-color;

    &:hover,
    &:focus {
      color: $navbar-light-hover-color;
    }

    &.disabled {
      color: $navbar-light-disabled-color !important;
    }
  }

  .show > .footer-link,
  .active > .footer-link,
  .footer-link.show,
  .footer-link.active {
    color: $navbar-light-active-color;
  }

  hr {
    border-color: $menu-light-border-color;
  }
}
=======
	color: $navbar-light-color;

	.footer-text {
		color: $navbar-light-active-color;
	}

	.footer-link {
		color: $navbar-light-color;

		&:hover,
		&:focus {
			color: $navbar-light-hover-color;
		}

		&.disabled {
			color: $navbar-light-disabled-color !important;
		}
	}

	.show>.footer-link,
	.active>.footer-link,
	.footer-link.show,
	.footer-link.active {
		color: $navbar-light-active-color;
	}

	hr {
		border-color: $menu-light-border-color;
	}
}
>>>>>>> fa43ef13419b93326e052a68ad170428e6c19f7b
