// Include
// *******************************************************************************

@import '../_bootstrap-extended/include';

//Mixins
@import './_mixins'; // Components mixins

//Components variables
@import '../_custom-variables/components'; // Components variable (for customization purpose)
<<<<<<< HEAD
@import 'variables'; // Components variable
=======
@import 'variables'; // Components variable
>>>>>>> fa43ef13419b93326e052a68ad170428e6c19f7b
