@import 'mixins/navbar';
@import 'mixins/footer';
@import 'mixins/menu';
@import 'mixins/avatar';
@import 'mixins/text-divider';
<<<<<<< HEAD
@import 'mixins/misc';
=======
@import 'mixins/misc';
>>>>>>> fa43ef13419b93326e052a68ad170428e6c19f7b
